# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/CSE340Project2/FileContentIndex/c04f1fbc-6c8b-4092-8cbe-2734c57f6ef1.vsidx
.vs/CSE340Project2/FileContentIndex/read.lock
.vs/CSE340Project2/v17/.wsuo
.vs/CSE340Project2/v17/Browse.VC.db
.vs/CSE340Project2/v17/Browse.VC.db-shm
.vs/CSE340Project2/v17/Browse.VC.db-wal
.vs/CSE340Project2/v17/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
